---
layout: default
excerpt: View all the matches in Arsenal's history including the fixtures, results and goals in the League, FA Cup and European Competitons.
title: Arsenal Seasons
---

<div class="container">
    <div class="row">
        <div class="col s12">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="/" class="breadcrumb">Home</a>
                        <a href="/seasons" class="breadcrumb">Arsenal Seasons</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
        <div class="card-panel">
            <h2>A list of Arsenal's league seasons</h2>
            <ul class="collection">
                 {% assign sorted = (site.seasons | sort: 'Season') | reverse %} {% for data in sorted %} {% if data.Season != "" and data.Season
            != nil %}
            <li class="collection-item"><a href="/seasons/{{ data.Season }}/">{{ data.Season }} season summary</a></li>
            {% endif %} {% endfor %}
            </ul>
        </div>
    </div>    
    </div>    
</div>