---
layout: default
---

<div class="home">

  <h1>History</h1>
  <blockquote>
       IT'S NOT IMPOSSIBLE. I KNOW IT WILL BE DIFFICULT FOR US TO GO THROUGH THE SEASON UNBEATEN. BUT IF WE KEEP THE RIGHT ATTITUDE IT'S POSSIBLE WE CAN DO IT.
    </blockquote>



  <div class="row">
    {% for post in site.posts %}
    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/img/alexissanchez.jpg">
          <span class="card-title">{{ post.title }}
          </span>
        </div>
        <div class="card-content">
          <p>{{post.content}}</p>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </div>
        <div class="card-action">
          <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>


  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>
  {% include javascript.html %}

</div>
