<div class="container">
  {% include breadcrumb.html %}
  {% include teams.html %}

{% for data in site.seasons %} 
     {% for match in data.Matches %}
        {% if match.OppositionTeam == page.OppositionTeam or match.OppositionTeam == page.OppositionTeam %}
      {% capture oppositionWins %}
        {% if match.OppositionScore > match.ArsenalScore and match.Competition == "League" %}
          {{ oppositionWins | plus: 1 }}
        {% else %}
          {{ oppositionWins | plus: 0 }}
        {% endif %} 
      {% endcapture %}
      {% capture arsenalWins %}
        {% if match.OppositionScore < match.ArsenalScore and match.Competition == "League" %}
          {{ arsenalWins | plus: 1 }}
        {% else %}
          {{ arsenalWins | plus: 0 }}
        {% endif %} 
      {% endcapture %}
      {% capture draws %}
        {% if match.OppositionScore == match.ArsenalScore and match.Competition == "League" %}
          {{ draws | plus: 1 }} 
        {% else %}
          {{ draws | plus: 0 }}
        {% endif %} 
      {% endcapture %}   
       {% endif %}  
      {% endfor %}
  {% endfor %}


  <div class="row">
    <div class="col s12">
      <div class="responsive-table card-panel hoverable">
        <table class="highlight">
          <thead>
            <tr>
              <th>Arsenal Wins</th>
              <th>{{page.OppositionTeam}} Wins</th>
              <th>Draws</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{arsenalWins}} </td>
              <td>{{oppositionWins}}</td>
              <td>{{draws}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="responsive-table card-panel hoverable bordered">
        <table class="highlight">
          <thead>
            <tr>
              <th>Date</th>
              <th>Result</th>
              <th>Competition</th>
            </tr>
          </thead>
          <tbody>
{% for data in site.seasons reversed %} 
     {% for match in data.Matches reversed %}
        {% if match.OppositionTeam == page.OppositionTeam or match.OppositionTeam == page.OppositionTeam %}
        <tr class="{% if match.ArsenalScore > match.OppositionScore %}{{'green accent-4'}}{% elsif match.ArsenalScore == match.OppositionScore %}{{'yellow accent-4'}}{% else %}{{'red accent-4'}}{% endif %}">
          <td>{{match.Date}} </td>
          <td>{% if match.HomeOrAway == "Home" %}Arsenal {{ match.ArsenalScore}} - {{match.OppositionScore}} {{match.OppositionTeam}} {% else %}{{match.OppositionTeam}} {{match.OppositionScore}} - {{ match.ArsenalScore}} Arsenal{% endif %}</td>
          <td>{{match.Competition}}</td>
        </tr>
        {% endif %}  
        {% endfor %}
    {% endfor %}
  </tbody>
  </table>
  </div>
  </div>
  </div>


</div>