<header class="site-header">
  <nav>
    <div class="nav-wrapper logos">
      <a href="/" class="brand-logo">{% include arsenal_1932.svg %}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="hide-on-med-and-down"><a href="/">History of Arsenal Football Club</a></li>
        <li><a href="/season/2016-2017">2016-2017</a></li>
        <li> <a class='dropdown-button btn' href='#' data-activates='dropdown3'>Choose Season</a>
          <!-- Dropdown Structure -->
          <ul id='dropdown3' class='dropdown-content'>
            {% for org_hash in site.data.season %} 
            {% assign data = org_hash[1] %}
            <li><a href="/season/{{ data.Season }}/">{{ data.Season }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>