<header class="site-header">
  <nav>
    <div class="nav-wrapper logos">
      <a href="/" class="brand-logo">{% include arsenal_1932.svg %}</a>
      <ul id="nav-mobile" class="right">
        <li class="hide-on-med-and-down"><a href="/">History of Arsenal Football Club</a></li>
        <li> <a class='dropdown-button btn' href='#' data-activates='dropdown3'>Choose Season</a>
          <!-- Dropdown Structure -->
          <ul id='dropdown3' class='dropdown-content'>
           {% assign sorted = (site.seasons | sort: 'season') | reverse %}
            {% for data in sorted %}
            <li><a href="/seasons/{{ data.season }}/">{{ data.season }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>