  {% assign sorted = (site.seasons | sort: 'Season') | reverse %} 
  {% for data in sorted %} 
    {% if data.Season != "" and data.Season != nil %}
     {% for match in data.Matches %}
      {% capture oppositionWins %}
        {% if match.HomeTeam == page.OppositionTeam and match.HomeScore > match.ArsenalScore and match.Competition == "League" %}
          {{ oppositionWins | plus: 1 }}
        {% elsif match.AwayTeam == page.OppositionTeam and match.AwayScore > match.ArsenalScore and match.Competition == "League" %}
          {{ oppositionWins | plus: 1 }}
        {% else %}
          {{ oppositionWins | plus: 0 }}
        {% endif %} 
      {% endcapture %}
      {% capture arsenalWins %}
        {% if match.HomeTeam == page.OppositionTeam and match.HomeScore < match.ArsenalScore and match.Competition == "League" %}
          {{ arsenalWins | plus: 1 }}
        {% elsif match.AwayTeam == page.OppositionTeam and match.AwayScore < match.ArsenalScore and match.Competition == "League" %}
          {{ arsenalWins | plus: 1 }}
        {% else %}
          {{ arsenalWins | plus: 0 }}
        {% endif %} 
      {% endcapture %}
      {% capture draws %}
        {% if match.AwayTeam == page.OppositionTeam and match.HomeScore == match.AwayScore and match.Competition == "League" %}
          {{ draws | plus: 1 }} 
        {% elsif match.HomeTeam == page.OppositionTeam and match.HomeScore == match.AwayScore and match.Competition == "League" %}
          {{ draws | plus: 1 }} 
        {% else %}
          {{ draws | plus: 0 }}
        {% endif %} 
      {% endcapture %}    
      {% endfor %}
    {% endif %} 
  {% endfor %}

<div class="container">
  {% include breadcrumb.html %}
  {% include teams.html %}
  <div class="row">
    <div class="col s12">
      <div class="responsive-table card-panel hoverable">
        <table class="highlight">
          <thead>
            <tr>
              <th>Arsenal Wins</th>
              <th>{{page.OppositionTeam}} Wins</th>
              <th>Draws</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>{{arsenalWins}} </td>
              <td>{{oppositionWins}}</td>
              <td>{{draws}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>