<header class="site-header">
  <nav>
    <div class="nav-wrapper logos">
      <a href="/" class="brand-logo">{% include arsenal_1932.svg %}</a>
      <h1>{{page.title}}</h1>
      <ul class="hide-on-med-and-down right">
        <li>
          <a class="dropdown-button" href="#!" data-activates="seasons-dropdown">Choose Season<i class="material-icons right">arrow_drop_down</i></a>
          <ul id='seasons-dropdown' class='dropdown-content'>
            {% assign sorted = (site.seasons | sort: 'Season') | reverse %} {% for data in sorted %} {% if data.Season != "" and data.Season
            != nil %}
            <li><a href="/seasons/{{ data.Season }}/">{{ data.Season }}</a></li>
            {% endif %} {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>