{% for data in page.Matches %} 
{% capture arsenal_score %} 
{% if data.Competition == "League" %} 
{{ arsenal_score | plus: data.ArsenalScore }} 
{% else %}
{{ arsenal_score | plus: 0 }} 
{% endif %} 
{% endcapture %}

{% capture opposition_score %} 
{% if data.Competition == "League" %} 
{{ opposition_score | plus: data.OppositionScore }} 
{% else %}
{{ opposition_score | plus: 0 }}
{% endif %} 
{% endcapture %} 
{% endfor %}


<div class="container">
<div class="row hide-on-small-only">
    <div class="col s12">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/" class="breadcrumb">Home</a>
                    <a href="/seasons" class="breadcrumb">Arsenal Seasons</a>
                    <a href="{{ page.url }}" class="breadcrumb">{{ page.Season }}</a>
                </div>
            </div>
        </nav>
    </div>
</div>
    <div class="responsive-table card-panel hoverable">
        <table class="highlight">
             <thead>
                <tr>
                    <th colspan="3"><h2>{{ page.Season }} league season summary</h2></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center-align">
                        <div class="chip teal lighten-2">
                        <i class="material-icons" style="vertical-align: middle;">play_arrow</i> Goals scored: {{ arsenal_score }}                        
                    </div>
                    </td>
                    <td class="center-align">
                          <div class="chip red lighten-2">
                         <i class="material-icons" style="vertical-align: middle;">stop</i> Goals conceded: {{ opposition_score }}
                        </div></td>
                    <td class="center-align">
                          <div class="chip blue lighten-2">
                       <i class="material-icons" style="vertical-align: middle;">swap_vert</i> Goal difference: {{ arsenal_score | minus: opposition_score }}
                        </div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="responsive-table card-panel hoverable">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Score</th>
                    <th>Competition</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for data in page.Matches %}
                <tr class="{% if data.ArsenalScore > data.OppositionScore %}{{'green accent-4'}}{% elsif data.ArsenalScore == data.OppositionScore %}{{'yellow accent-4'}}{% else %}{{'red accent-4'}}{% endif %}">
                    <td>{{data.HomeTeam}} {{data.HomeScore}} - {{data.AwayScore}} {{data.AwayTeam}} </td>
                    <td>{{data.Competition}}</td>
                    <td>{{data.Date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>