{% for post in site.categories.champions-league limit: 3 %} 
{% if post.url %}
<div class="col s12 m4">
    <div class="card medium hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            <a href="{{post.url}}">
                <img class="responsive-img" data-src="https://img.youtube.com/vi/{{post.video}}/0.jpg" alt="{{ post.header }}" />
                <span class="card-title valign-wrapper" data-id="video_{{forloop.index}}">{{ post.header }}
                </span>
            </a>
        </div>
        <div class="card-content">
            <span class="post-meta"><strong>{{ post.date | date: "%b %-d, %Y" }}</strong></span>
            <p>{{post.summary}}</p>
        </div>
    </div>
</div>
{% endif %} 
{% endfor %}