.logos {
  svg {
    height: 35px;
    @media only screen and (min-width: 601px) {
      height: 45px;
    }
    margin-left: 10px;
    margin-top: 10px;
  }
}
body {
  background-color: #BDBDBD;
}
.card {
  .card-image {
    .card-title {
      background-color: #EA323D;
      width: 100%;
      opacity: 0.8;
      padding: 10px;
    }
    i {
      cursor: pointer;
    }
  }

  &.medium{
  
      .card-content{
        max-height: 100%;

        p{
           @media only screen and (min-width: 1200px) {
             font-size: 14.5px;
           }
        }
      }
  }

  .card-content{
    padding: 10px;
    max-height: 100%;
  }
}
.video-container {
  margin-top: 10px;
}
h1 {
  font-size: 1rem;
  display:inline;
  line-height: inherit;
  padding-left:60px;

  @media #{$medium-and-up} {
      font-size:1.5rem;
  }
}

h2{
  font-size: 2rem;
}
h3{
  font-size: 1rem;
}
.promo {
  svg {
    height: 70px;
  }
  img {
    height: 70px;
  }

  h2{
     font-size: 2.6rem;
  }
}
main {
  margin-top: 15px;
}

ul {
&.pagination{
    color: #000;
    background-color: rgba(51,51,51,0.08);

    li{
          vertical-align: top;
          height: 30px;

          &.active{
            border-radius: 2px 2px 0px 0px;
          }
    }

  }
}

img.responsive-img{
  height: 200px;
}

nav {
  .brand-logo{
    left:0px;
    transform: inherit;
  }

  a{
    padding-right:10px;
  }
}

iframe {
 border:0;
}

td{
  border-radius: 0;
}