.logos {
  svg {
    height: 35px;
    @media only screen and (min-width: 601px) {
      height: 45px;
    }
    margin-left: 10px;
    margin-top: 10px;
  }
}
body::after {
  content: "";
  background: url(/assets/img/emirates.jpg) no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
.card {
  .card-image {
    .card-title {
      background-color: #EA323D;
      width: 100%;
      opacity: 0.8;
      padding: 10px;
    }
    i {
      cursor: pointer;
    }
  }
}
.video-container {
  margin-top: 10px;
}
h1 {
  font-size: 3em;
}
.promo {
  svg {
    height: 70px;
  }
  img {
    height: 70px;
  }
}
main {
  margin-top: 15px;
}
