---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ page.summary }}
  </div>
   <div class="video-container">
            <iframe class="responsive-video" src="https://www.youtube.com/embed/{{page.video}}" content="https://www.youtube.com/embed/{{page.video}}" id="video_{{page.video}}" data-video="https://www.youtube.com/embed/{{page.video}}" frameborder="0" allowfullscreen></iframe>
    </div>

</article>
